{% extends 'admin/master.html' %}

{% block body %}
<h3>Bulk update for {{org_name}}</h3>

<form method='POST' action='bulk'>
  <table class="table table-striped table-bordered model-list">
    <thead>
      <tr>
        <th class="column-header span2"></th>
        <th class="column-header">Bluetooth ID</th>
        <th class="column-header">Name</th>
        <th class="column-header">Keyword</th>
        <th class="column-header">Price</th>
      </tr>
    </thead>

    <tr>
      <td>Set all values to:</td>
      <td><input type='text' name='bluetooth_id'></td>
      <td><input type='text' name='name'></td>
      <td><input type='text' name='keyword'></td>
      <td><input type='text' name='price'></td>
    </tr>
  </table>

  <input type='submit' class='btn btn-danger btn-large' value='Update all'>
</form>
{% endblock %}
